<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"> 
    <script th:src="@{/js/slideshow.js}"></script>
    <title>Welcome Page</title>
</head>
<body>
    <h1>Welcome to the Spring Boot Application</h1>
    
    <h1>Listings</h1>
      <ul>
        <!-- listings are being queried from  -->
          <div style="color: white;" th:each="item : ${listings}">
            <div class="listing-container">
              <div class="container-child">
                <!-- IMAGE LOGIC --> 
              </div>
              <div class="container-child">
                <p>ID: <span th:text="${item.id}"></span></p>
                <p>Name: <span th:text="${item.name}"></span></p>
                <p>Category: <span th:text="${item.category}"></span></p>
                <p>Subcategory: <span th:text="${item.subcategory}"></span></p>
                <p>Description: <span th:text="${item.description}"></span></p>
                <p>Price: <span th:text="${item.price}"></span> <span th:text="${item.currency}"></span></p> 
              </div>
            </div>
          </div>
        </div>
      </ul>
</body>
</html>
<!DOCTYPE html>
