<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"> 
    <title>Welcome Page</title>
</head>
<body>
    <h1>Welcome to the Spring Boot Application</h1>
    
    <!-- Form that submits a POST request to '/callMethod' when the button is clicked -->
    <form action="/load_all_kp_advertisments" method="POST">
        <button type="submit">Load All Advertisments</button>
    </form>
</body>
</html>
<!DOCTYPE html>
